*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #486874;
    text-align: center;
}
.container{
    height: 60vh;
     display:flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-bottom: 15px;

}
.game{
   height:60vmin;
   width:60vmin;
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border : none;
    box-shadow: 2px 2px 10px rgba(165, 224, 0, 0.5),-2px -2px 5px rgba(165, 224, 0, 0.5);
    font-size: 10vmin;
    background-color: #ffffc7 ;
}
.colR{
    color: #b0413e;
}
.colB{
    color: black;
}
#reset{
    padding: 1.25rem;
    font-size : 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
}
#newBtn{
    padding: 1.25rem;
    font-size : 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
}
#msg{
    font-size: 30px;
    color: #ffffc7;
}
.msg-container{
    height: 20vmin;
}
.hide{
    display:none;
}
.winColor{
    background-color: greenyellow;
}